PERSONAL_API_KEY = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
ENTERPRISE_API_KEY = 'ent_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
SETSTORE_PLUGIN_API_KEY = 'ss_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
SETSTORE_CONNECTION_API_KEY = 'sc_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'